:root {
    --color1: #0093E9;
    --color2: #80D0C7;
}

header,
footer,
section {
    padding: 150px 0;
}

header {
    background-color: url(../img/pattern.svg), var(--color1);
    background-image: url(../img/pattern.svg), linear-gradient(160deg, var(--color1) 0%, var(--color2) 75%);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.f_btn {
    display: block;
    max-width: 300px;
    margin: 120px auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color1);
}

.f_btn:hover {
    color: var(--bs-white);
    background-color: var(--color2);
}

body {
    background-color: gray;
}