:root {
    --color1: #0093E9;
    --color2: #80D0C7;
}

header,
section {
    padding: 200px 0;
}

footer {
    padding: 50px 0;
}

header,
footer {
    background-color: url(../img/pattern.svg), var(--color1);
    background-image: url(../img/pattern.svg), linear-gradient(160deg, var(--color1) 0%, var(--color2) 75%);
}

.f_txt {
    margin: 20px auto;
}

.f_btn {
    display: block;
    max-width: 300px;
    margin: 30px auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color1);
}

.f_btn:hover {
    color: var(--bs-white);
    background-color: var(--color2);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line {
    width: 220px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}

.font_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}